/*
  What we'll need:
  - Basic reset
  - Colors
  - Spacings
  - Font sizes
  - Radius
  - Borders
  - Shadows
  - Transitions
  - Opacities
*/

. {
margin: 0;
padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-weight: normal;
  font-family: "Raleway", sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Global styles */
  background-color: var(--color-blue-100);
}
